.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dev-buttons {
  display: flex;
  gap: 5px;
  button {
    width: 100%;
  }
}

.navbar {
  background: var(--bg-header);
  color: var(--text-dark);
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
  border-bottom: 2px solid var(--border-dark);

  .logo {
    display: flex;
  }

  nav {
    .menu {
      display: flex;
      gap: 10px;

      .menu-item {
        display: flex;
        height: 100%;
        text-decoration: none;
        color: var(--text-dark);
        padding: 20px 10px;

        &.active {
          color: var(--blue);
        }

        &:hover {
          background: var(--bg-effect);
          border-color: var(--yellow);
        }
      }
    }
  }

  .icon {
    margin-right: 10px;
    font-size: 20px;
  }

  .logout {
    cursor: pointer;

    &:hover {
      color: var(--red);
    }
  }
}

/* Media Query for Small Screens */
@media (max-width: 834px) {
  .layout {
    flex-direction: column-reverse;
  }

  .navbar {
    max-width: unset;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    .logo {
      display: none;
    }

    nav {
      width: 100%;

      .menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        font-size: 0;

        .menu-item {
          margin: 5px;
          padding: 10px;

          .icon {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.content {
  flex-grow: 1;
  background: var(--bg-content);
  padding: 20px;
  color: var(--text-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .header-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  h2 {
    margin: 5px;
  }

  select {
    text-align: center;
    border-radius: 5px;
    width: 90px;
  }

  input {
    min-width: 40px;
  }
}

.error-page {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    color: var(--red);
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
  }

  span {
    font-size: large;
  }
}
