.transactions {
  position: relative;
  background: var(--bg-component);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10px;

  .header {
    .btn {
      margin-left: 20px;
    }

    .view-all-transactions {
      font-size: 20px;
      text-decoration: none;
    }
  }

  .tab-buttons {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;

    .btn {
      display: flex;
      gap: 2px;
      padding: 5px;
      background-color: var(--bg-component);
      color: var(--text-light);
      font-size: large;
      font-weight: bold;
      border: none;

      &.active {
        border-bottom: 2px solid var(--text-light);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .transaction-details {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--blue);
  }

  .transaction-details div {
    gap: 5px;
  }

  table {
    input {
      width: 100%;
      background: unset;
      border: unset;
      color: unset;
    }

    .date-picker {
      width: 100%;
    }

    tbody {
      td {
        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    tfoot {
      td {
        cursor: pointer;
        text-align: center;
        padding: 5px;
        color: var(--text-light);

        &:hover {
          background-color: var(--bg-effect);
        }

        div {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.sort-filter-container {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: var(--bg-dark-button);
  border: 1px solid var(--text-light);
  border-radius: 10px;
  width: fit-content;

  span {
    font-size: large;
    padding-left: 5px;
    color: var(--blue);
  }

  .sort-filter-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-bottom: 0px;
    height: fit-content;
  }

  .sort-menu,
  .filter-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;

    .btn {
      padding: 10px 5px;
      margin: 0px !important;
      width: fit-content;
    }
  }

  .sort-menu-object,
  .filter-menu-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    gap: 10px;
  }

  .sort-menu-button,
  .filter-menu-button {
    display: flex;
    cursor: pointer;
    gap: 10px;
    padding: 5px;

    &:hover {
      opacity: 0.5;
    }
  }

  .sort-filter-options {
    margin: 5px 0px;
    padding: 5px 0px;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);

    select {
      background-color: var(--bg-dark-button);
      color: var(--text-light);
      text-align: left !important;

      &:hover {
        background-color: var(--bg-dark-button);
        color: var(--text-light);
      }
    }
  }

  .sort-filter-input {
    display: flex;
    flex-direction: column;
    width: 100%;

    .date-input {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: flex-end;
      width: 100%;
    }

    span {
      font-size: medium;
      margin: 0;
    }
  }
}

.node-selector-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;

  .node-selector {
    cursor: default;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 5px;
    padding: 5px;
    background-color: var(--bg-dark-button);
    border-radius: 5px;
    border: 0.5px solid var(--text-light);
    min-width: 100px;

    .node-option {
      cursor: pointer;
      padding: 2px 5px;
      border-radius: 5px;

      &:hover {
        background: var(--bg-effect);
      }
    }

    input {
      border-bottom: 1px solid var(--text-light);
      height: 2em;
    }

    .node-selector-create {
      width: fit-content;
    }
  }
}
