@use "transaction";
@use "layout";
@use "buttons";
@use "form";
@use "category";
@use "chart";
@use "period-selector";
@use "currency-widget";

:root {
  /* Background Colors */
  --bg-component: #ddd;
  --bg-content: #eee;
  --bg-primary: #ddd;
  --bg-dark-button: #ccc;
  --bg-light-button: #ccc;
  --bg-effect: #eee;

  /* Text Colors */
  --text-dark: #000000;
  --text-light: #333333;

  /* Accent Colors */
  --blue: #74b7fd;
  --green: #27ae60;
  --yellow: #f39c12;
  --red: #e74c3c;

  /* Other */
  --border: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Background Colors */
    --bg-component: #1c1c1c;
    --bg-content: #2b2b2b;
    --bg-primary: #1c1c1c;
    --bg-dark-button: #333;
    --bg-light-button: #ccc;
    --bg-effect: #444;

    /* Dark Mode Text Colors */
    --text-dark: #000;
    --text-light: #ccc;

    /* Accent Colors */
    --blue: #038ffa;
    --green: #acf3aecf;
    --yellow: #f9fb92bb;
    --red: #fa6b83e2;

    /* Other */
    --border: #ccc;
    --border-dark: #666;
  }
}

body {
  background: var(--bg-primary);
}

.content {
  overflow-y: auto;
}

/* Utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: grid;
  gap: 30px;
  width: 100%;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: inherit;
}

select,
input {
  background: var(--bg-light-button);
  color: var(--text-dark);
  border: 0.5px solid var(--border);
  outline: 0px;
}

table {
  width: 100%;
  height: 1px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--border-dark);
  }

  th {
    font-size: large;
  }

  th,
  td {
    // height: 100%;
    padding: 5px;
    padding: 0px 10px;
    text-align: left;
  }

  tbody {
    tr {
      td {
        border: 0.5px solid var(--border-dark);
      }

      :first-child {
        border-left-width: 0px;
      }

      :last-child {
        border-right-width: 0px;
      }
    }
  }
}

.component {
  background: var(--bg-component);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10px;
}

.color-green {
  background: var(--green) !important;
  color: var(--text-dark) !important;
}

.color-red {
  background: var(--red) !important;
  color: var(--text-dark) !important;
}

.color-blue {
  background: var(--blue) !important;
  color: var(--text-dark) !important;
}

.color-yellow {
  background: var(--yellow) !important;
  color: var(--text-dark) !important;
}

.color-white {
  background: white !important;
  color: var(--text-dark) !important;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;

  &-large {
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
  }
}
