@use "transaction";
@use "layout";
@use "buttons";
@use "form";
@use "category";
@use "chart";
@use "period-selector";
@use "currency";

:root {
  /* Background Colors */
  --bg-component: #eae7e0;
  --bg-content: #c6beab;
  --bg-primary: #eae7e0;
  --bg-dark-button: #ccc;
  --bg-light-button: #ccc;
  --bg-effect: #c9d6df;

  /* Text Colors */
  --text-dark: #000000;
  --text-light: #333333;

  /* Accent Colors */
  --blue: #7da8c5;
  --green: #27ae60;
  --yellow: #e3d06d;
  --red: #bf5a3c;

  /* Other */
  --border: #666;
  --border-dark: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Background Colors */
    --bg-component: #1c1c1c;
    --bg-content: #2b2b2b;
    --bg-primary: #1c1c1c;
    --bg-dark-button: #666;
    --bg-light-button: #ccc;
    --bg-effect: #38454e;

    /* Dark Mode Text Colors */
    --text-dark: #000;
    --text-light: #ccc;

    /* Accent Colors */
    --blue: #038ffa;
    --green: #acf3aecf;
    --yellow: #dedf83bb;
    --red: #da5f74e2;

    /* Other */
    --border: #ccc;
    --border-dark: #666;
  }
}

body {
  background: var(--bg-primary);
}

.content {
  overflow-y: auto;
}

/* Utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: grid;
  gap: 30px;
  width: 100%;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: inherit;
}

select,
input {
  cursor: pointer;
  background: var(--bg-dark-button);
  color: var(--text-light);
  border: 0.5px solid var(--border);
  outline: 0px;

  &:hover {
    background: var(--bg-effect);
  }
}

table {
  width: 100%;
  height: 1px;
  border-collapse: collapse;

  input {
    cursor: pointer;
    width: 100%;
    background: unset;
    border: unset;
    color: unset;

    &:hover {
      background-color: unset;
    }
  }

  tr {
    border-bottom: 1px solid var(--border-dark);
  }

  th {
    font-size: large;
  }

  th,
  td {
    padding: 5px;
    padding: 0px 10px;
    text-align: left;
  }

  thead {
    tr {
      line-height: 2.5em;
    }
  }

  tbody {
    tr {
      td {
        border: 0.5px solid var(--border-dark);

        &:first-child {
          border-left-width: 0px;
        }

        &:last-child {
          border-right-width: 0px;
        }
      }
    }
  }

  tfoot {
    td {
      cursor: pointer;
      text-align: center;
      padding: 5px;
      color: var(--text-light);

      button {
        width: 100%;
        height: 100%;
        background-color: var(--bg-component) !important;
        color: var(--text-light) !important;
        border: none !important;

        &:hover {
          background-color: var(--bg-effect) !important;
        }
      }
    }
  }
}

.component {
  background: var(--bg-component);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10px;
}

.color-green {
  background: var(--green) !important;
  color: var(--text-dark) !important;
}

.color-red {
  background: var(--red) !important;
  color: var(--text-dark) !important;
}

.color-blue {
  background: var(--blue) !important;
  color: var(--text-dark) !important;
}

.color-yellow {
  background: var(--yellow) !important;
  color: var(--text-dark) !important;
}

.color-white {
  background: white !important;
  color: var(--text-dark) !important;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;

  &-large {
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
  }
}
