:root {
  /* Spacing */
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;

  /* Background Colors */
  --bg-component-color: #1a1a1a;
  --bg-color: #1c1c1c;
  --bg-dark-button-color: #333333;
  --bg-light-button-color: #cccccc;
  --bg-effect-color: #2b2b2b;

  /* Text Colors */
  --text-dark-color: #000000;
  --text-light-color: #ffffff;

  /* Accent Colors */
  --aqua-color: #00ffff;
  --green-color: #acf3ae;
  --yellow-color: #fafb92;
  --red-color: #fa6b84;
}

body {
  background-color: var(--bg-color);
}

.content {
  overflow-y: auto;
}

/* Utils */
.flex-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-lg);
}

.flex-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-md);
}

.flex-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-sm);
}

.grid-lg {
  display: -ms-grid;
  display: grid;
  gap: var(--space-lg);
  width: 100%;
}

.grid-md {
  display: -ms-grid;
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-sm {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  width: 100%;
}

/* General */

select {
  background: var(--bg-dark-button-color);
  color: var(--aqua-color);
}

input {
  background: var(--bg-dark-button-color);
  color: var(--aqua-color);
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  min-width: 200px;
  background-color: var(--bg-color);
  color: var(--text-light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* margin-top: 50px; */
}

.menu {
  display: grid;
}

.menu-item {
  display: flex;
  margin: 10px 0px;
  text-decoration: none;
  color: var(--text-light-color);
  border-radius: 15px;
  padding: 20px 10px;
  border: 0.5px solid rgba(0, 0, 0, 0);
}

.menu .active {
  color: var(--aqua-color);
  border-color: var(--aqua-color);
}

.menu-item:hover {
  background-color: var(--bg-effect-color);
  border-color: var(--yellow-color);
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.content {
  flex-grow: 1;
  background-color: var(--bg-effect-color);
  padding: 20px;
  color: var(--text-light-color);
}

.menu-link span {
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header select {
  text-align: center;
}

.header h2 {
  margin: 5px;
}

/* Transactions Table  */
.transactions {
  position: relative;
  background-color: var(--bg-component-color);
  color: var(--text-light-color);
  padding: 20px;
  border-radius: 10px;
}

.transactions .header .btn {
  margin-left: 20px !important;
}

.transactions .header .view-all-transactions {
  text-decoration: none;
}

.sort-filter-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: var(--bg-dark-button-color);
  border: 1px solid var(--text-light-color);
  border-radius: 10px;
  width: 250px;
}

.sort-filter-container span {
  font-size: large;
  padding-left: 5px;
  color: var(--aqua-color);
}

.sort-filter-container select {
  width: 100%;
  border: 0px;
  outline: 0px;
}

.sort-filter-container .sort-filter-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding-bottom: 0px;
  height: fit-content;
}

.sort-filter-container .sort-filter-menu .sort-filter-options {
  margin: 5px 0px;
  padding: 5px 0px;
  border-top: 1px solid var(--aqua-color);
  border-bottom: 1px solid var(--aqua-color);
}

.sort-filter-container .sort-filter-menu .sort-filter-options select {
  text-align: left !important;
}

.sort-filter-container .sort-filter-menu .sort-filter-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sort-filter-container .sort-filter-menu .sort-filter-input .date-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sort-filter-container .sort-filter-menu .sort-filter-input .date-input input {
  width: 40px;
}

.sort-filter-container .sort-filter-menu .sort-filter-input div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  width: 100%;
}

.sort-filter-container .sort-filter-menu .sort-filter-input span {
  font-size: medium;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: large;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: none;
}

/* Assets Table  */
.assets {
  background-color: var(--bg-component-color);
  color: var(--text-light-color);
  padding: 20px;
  border-radius: 10px;
}

.assets table {
  width: 100%;
  border-collapse: collapse;
}

.assets th {
  font-size: large;
}

.assets th,
.assets td {
  padding: 10px;
  text-align: left;
}

.assets tbody tr {
  border-bottom: none;
}

/* Buttons */

.btn {
  background-color: var(--bg-light-button-color);
  color: var(--text-dark-color);
  border: none;
  padding: 12px 20px 8px 20px;
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--yellow-color) !important;
}

.btn-red:hover {
  background-color: var(--red-color) !important;
}

.btn-green:hover {
  background-color: var(--green-color) !important;
}

/* Pop-up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--bg-effect-color);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  height: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group select {
  padding: 8px;
  width: 100%;
  position: relative;
  display: block;
}

.btn-rect {
  background: var(--text-light-color);
  color: var(--text-dark-color);
  width: 33%;
  padding: 8px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-rect:hover {
  cursor: pointer;
}

.btn-rect-green {
  background: var(--green-color);
  font-weight: bold;
}

.btn-rect-red {
  background: var(--red-color);
  font-weight: bold;
}

.btn-rect-yellow {
  background-color: var(--yellow-color);
  font-weight: bold;
}

.color-green {
  background: var(--green-color) !important;
  color: var(--text-dark-color) !important;
}

.color-red {
  background: var(--red-color) !important;
  color: var(--text-dark-color) !important;
}

.color-aqua {
  background: var(--aqua-color) !important;
  color: var(--text-dark-color) !important;
}

.color-yellow {
  background: var(--yellow-color) !important;
  color: var(--text-dark-color) !important;
}

.color-white {
  background: white !important;
  color: var(--text-dark-color) !important;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: fit-content;
  min-width: 100px;
  padding: 5px;
  border-radius: 15px;
}

/* Categories */
.categories {
  background-color: var(--bg-component-color);
  color: var(--text-light-color);
  padding: 20px;
  border-radius: 10px;
}

.categories .header {
  margin-bottom: 20px;
}

.category {
  display: flex;
  justify-content: space-evenly;
  gap: var(--space-lg);
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.category-name {
  margin-right: 10px;
}

.category-bar-wrapper {
  flex: 1;
}

.category-bar-wrapper .labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.category-bar-back {
  flex: 1;
  background-color: var(--bg-dark-button-color);
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.category-bar {
  height: 20px;
  background-color: var(--yellow-color);
  transition: width 0.3s ease;
}

/* Charts */

.pie-chart-wrapper {
  display: flex;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
}

.pie-chart-wrapper div {
  flex: 1;
}

.category-chart,
.asset-chart {
  display: flex;
  flex-direction: column;
  background: var(--bg-component-color);
  border-radius: 10px;
  padding: 20px;
}

.charts .legend-container {
  height: 100px;
  width: 100px;
}

.chart-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.chart-menu select {
  border-radius: 5px;
}

.period-selector {
  display: flex;
  gap: 5px;
  width: 200px;
}

.period-selector input {
  width: 30px;
}

.period-selector select {
  width: 100%;
}

.table-btns {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

/* .table-btns .btn {
  background-color: ;
} */

/* Currency Wdiget */
.currency-widget {
  background-color: var(--bg-component-color);
  color: var(--text-light-color);
  padding: 20px;
  border-radius: 10px;
}

/* Error Page*/
.error-page {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.error-page h1 {
  color: var(--red-color);
  margin-bottom: 20px;
}

.error-page a {
  text-decoration: none;
}

.error-page span {
  font-size: large;
}

/* Support page */
.contact-container {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  color: var(--text-light-color);
}

.contact-section {
  margin-bottom: 20px;
}

.contact-section h3 {
  color: var(--aqua-color);
}

.contact-section ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-section li {
  margin-bottom: 5px;
}

.contact-section span {
  color: var(--aqua-color);
  text-decoration: underline;
}

.social-links a {
  color: var(--text-light-color);
  text-decoration: none;
  font-size: 40px;
  margin: 0px 5px;
}

.social-links a:hover {
  color: var(--aqua-color);
}

.contact-form {
  margin-top: 10px;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid var(--aqua-color);
  background-color: var(--bg-dark-button-color);
  color: var(--text-light-color);
  border-radius: 4px;
}

.contact-form button {
  background-color: var(--text-light-color);
}

.contact-form button:hover {
  background-color: var(--aqua-color);
}

/* Other */
.transaction-details {
  display: flex;
  flex: row;
  color: var(--aqua-color);
}

.transaction-details div {
  gap: 5px;
}
