:root {
  /* Background Colors */
  --bg-component: #f0f0f0;
  --bg-primary: #f0f0f0;
  --bg-dark-button: #ccc;
  --bg-light-button: #ccc;
  --bg-effect: #fff;

  /* Text Colors */
  --text-dark: #000000;
  --text-light: #333333;

  /* Accent Colors */
  --blue: #4ca2ff;
  --green: #27ae60;
  --yellow: #f39c12;
  --red: #e74c3c;

  /* Other */
  --border: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Background Colors */
    --bg-component: #1c1c1c;
    --bg-primary: #1c1c1c;
    --bg-dark-button: #333;
    --bg-light-button: #ccc;
    --bg-effect: #2b2b2b;

    /* Dark Mode Text Colors */
    --text-dark: #000;
    --text-light: #ccc;

    /* Accent Colors */
    --blue: #038ffa;
    --green: #acf3aecf;
    --yellow: #f9fb92bb;
    --red: #fa6b83e2;

    /* Other */
    --border: #ccc;
  }
}

body {
  background: var(--bg-primary);
}

.content {
  overflow-y: auto;
}

/* Utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: grid;
  gap: 30px;
  width: 100%;
}

select {
  background: var(--bg-light-button);
  color: var(--text-dark);
  border: 0.5px solid var(--border);
  outline: 0px;
}

input {
  background: var(--bg-light-button);
  color: var(--text-dark);
  border: 0.5px solid var(--border);
  outline: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: large;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: none;
}

.component {
  background: var(--bg-component);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10px;
}

.color-green {
  background: var(--green) !important;
  color: var(--text-dark) !important;
}

.color-red {
  background: var(--red) !important;
  color: var(--text-dark) !important;
}

.color-blue {
  background: var(--blue) !important;
  color: var(--text-dark) !important;
}

.color-yellow {
  background: var(--yellow) !important;
  color: var(--text-dark) !important;
}

.color-white {
  background: white !important;
  color: var(--text-dark) !important;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: fit-content;
  min-width: 100px;
  padding: 5px;
  border-radius: 15px;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  min-width: 200px;
  background: var(--bg-primary);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* margin-top: 50px; */
}

.menu {
  display: grid;
}

.menu-item {
  display: flex;
  margin: 10px 0px;
  text-decoration: none;
  color: var(--text-light);
  border-radius: 15px;
  padding: 20px 10px;
  border: 2.5px solid rgba(0, 0, 0, 0);
}

.menu .active {
  color: var(--blue);
  border-color: var(--blue);
}

.menu-item:hover {
  background: var(--bg-effect);
  border-color: var(--yellow);
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.content {
  flex-grow: 1;
  background: var(--bg-effect);
  padding: 20px;
  color: var(--text-light);
}

.menu-link span {
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header select {
  text-align: center;
  border-radius: 5px;
  width: 90px;
}

.header input {
  min-width: 40px;
}

.header select:hover {
  background-color: var(--blue);
}

.header h2 {
  margin: 5px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Transactions */
.transactions {
  position: relative;
  background: var(--bg-component);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10px;
}

.transactions .header .btn {
  margin-left: 20px;
}

.transactions .header .view-all-transactions {
  font-size: 20px;
  text-decoration: none;
}

.transaction-details {
  display: flex;
  flex: row;
  color: var(--blue);
}

.transaction-details div {
  gap: 5px;
}

.sort-filter-container {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: var(--bg-dark-button);
  border: 1px solid var(--text-light);
  border-radius: 10px;
  width: fit-content;
}

.sort-filter-container span {
  font-size: large;
  padding-left: 5px;
  color: var(--blue);
}

.sort-filter-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding-bottom: 0px;
  height: fit-content;
}

.sort-menu,
.filter-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.sort-menu-object,
.filter-menu-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  gap: 10px;
}

.sort-menu .btn,
.filter-menu .btn {
  padding: 10px 5px;
  margin: 0px !important;
  width: fit-content;
}

.sort-menu-button,
.filter-menu-button {
  display: flex;
  cursor: pointer;
  gap: 10px;
  padding: 5px;
}

.sort-menu-button:hover,
.filter-menu-button:hover {
  opacity: 0.5;
}

.sort-filter-options {
  margin: 5px 0px;
  padding: 5px 0px;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
}

.sort-filter-options select {
  background-color: var(--bg-dark-button);
  color: var(--text-light);
  text-align: left !important;
}

.sort-filter-options select:hover {
  background-color: var(--bg-dark-button);
  color: var(--text-light);
}

.sort-filter-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sort-filter-input .date-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sort-filter-input div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  width: 100%;
}

.sort-filter-input span {
  font-size: medium;
  margin: 0;
}

/* Buttons */

.btn {
  background: var(--bg-light-button);
  color: var(--text-dark);
  border: 0.5px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-medium {
  padding: 12px 20px 8px 20px;
  margin: 0px 5px 0px 0px;
  font-size: 1em;
}

.btn:hover {
  background: var(--blue) !important;
}

.btn-red:hover {
  background: var(--red) !important;
}

.btn-yellow:hover {
  background: var(--yellow) !important;
}

.btn-rect {
  background: var(--bg-light-button);
  color: var(--text-dark);
  width: 33%;
  padding: 8px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-rect:hover {
  cursor: pointer;
}

.btn-rect-green {
  background: var(--green);
  font-weight: bold;
}

.btn-rect-red {
  background: var(--red);
  font-weight: bold;
}

.btn-rect-yellow {
  background: var(--yellow);
  font-weight: bold;
}

/* Popup Form */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--bg-effect);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  height: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group select {
  padding: 8px;
  width: 100%;
  position: relative;
  display: block;
}

/* Categories */
.category,
.goal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.category-name {
  margin-right: 10px;
}

.category-bar-wrapper,
.goal-bar-wrapper {
  flex: 1;
}

.category-bar-wrapper .labels,
.goal-bar-wrapper .labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.category-bar-back,
.goal-bar-back {
  flex: 1;
  background: var(--bg-dark-button);
  border-radius: 5px;
  overflow: hidden;
}

.category-bar,
.goal-bar {
  height: 20px;
  background: var(--yellow);
  transition: width 0.3s ease;
}

/* Charts */

.pie-chart-wrapper {
  display: flex;
  overflow-x: scroll;
}

.pie-chart {
  flex: 1;
}

.category-chart,
.asset-chart {
  display: flex;
  flex-direction: column;
  background: var(--bg-component);
  border-radius: 10px;
  padding: 20px;
}

.charts .legend-container {
  height: 100px;
  width: 100px;
}

/* Period Selector */

.period-selector {
  position: relative;
  text-align: center;
  padding: 0;
}

.period-selector:hover {
  background-color: var(--bg-dark-button);
}

.period-selector .period-text {
  padding: 12px 20px 8px 20px;
}

.period-selector .editor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 50px;
  right: 0px;
  width: 300px;
  padding: 5px 20px;
  background-color: var(--bg-light-button);
  border: 0.5px solid var(--border);
  border-radius: 5px;
}

.period-selector .editor:hover {
  cursor: default;
}

.period-selector .editor .date-type-selector {
  display: flex;
  justify-content: center;
  border: 0.5px solid var(--border);
  border-radius: 5px;
  width: 100%;
}

.period-selector .editor .date-type-selector div {
  width: 100%;
}

.period-selector .editor .date-type-selector .active {
  background-color: var(--blue);
}

.period-selector .editor .date-type-selector div span {
  padding: 5px;
}

.period-selector .editor-absolute {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.period-selector .editor-relative {
  display: flex;
  justify-content: left;
  gap: 5px;
}

.period-selector .editor-relative input {
  width: 15px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.period-selector .editor-relative select {
  outline: none;
  padding: 5px;
}

.date-picker {
  border: 0.5px solid var(--border);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.date-picker input {
  border: none;
  text-decoration: none;
  outline: none;
}

.table-btns {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

/* Currency Wdiget */
.currency-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.currency-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--bg-light-button);
}

.currency-input select {
  font-size: large;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

.currency-input input {
  font-size: large;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

/* Error Page*/
.error-page {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.error-page h1 {
  color: var(--red);
  margin-bottom: 20px;
}

.error-page a {
  text-decoration: none;
}

.error-page span {
  font-size: large;
}

/* Support page */
.contact-section {
  margin-bottom: 20px;
}

.contact-section h3 {
  color: var(--blue);
}

.contact-section ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-section li {
  margin-bottom: 5px;
}

.contact-section span {
  color: var(--blue);
  text-decoration: underline;
}

.social-links a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 40px;
  margin: 0px 5px;
}

.social-links a:hover {
  color: var(--blue);
}

.contact-form {
  margin-top: 10px;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid var(--blue);
  background: var(--bg-dark-button);
  color: var(--text-light);
  border-radius: 4px;
}
